{% extends 'header.html' %}
{% block content %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">កម្ចី <span>| ទាំងអស់</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar animated-icon"></i>
                    </div>
                    <div class="ps-3">
                      <h6>${{ txn_details | selectattr('transaction_type', 'equalto', 'loan') | sum(attribute='amount') - txn_details | selectattr('transaction_type', 'equalto', 'loan_repay') | sum(attribute='amount') }}</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">កើនឡើង</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">សន្សំ <span>| ទាំងអស់</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-piggy-bank animated-icon"></i>
                    </div>
                    <div class="ps-3">
                      <h6>${{ txn_details | selectattr('transaction_type', 'in', ['saving_deposit', 'saving_deposit_more']) | sum(attribute='amount') }}</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">កើនឡើង</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card blance-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">សមតុល្យ <span>| ទាំងអស់</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-credit-card-2-back animated-icon"></i>
                    </div>
                    <div class="ps-3">
                      <h6>${{ (txn_details | selectattr('transaction_type', 'in', ['saving_deposit', 'saving_deposit_more']) | sum(attribute='amount')) - (txn_details | selectattr('transaction_type', 'equalto', 'loan') | sum(attribute='amount') - txn_details | selectattr('transaction_type', 'equalto', 'loan_repay') | sum(attribute='amount')) }}</h6>
                      <span class="text-success small pt-1 fw-bold">10%</span> <span class="text-muted small pt-2 ps-1">កើនឡើង</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">របាយការណ៍ <span>/ ទាំងអស់</span></h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'កម្ចី',
                          data: [0, 12, 0, 34, 1, 2, "{{ txn_details | selectattr('transaction_type', 'equalto', 'loan') | sum(attribute='amount') - txn_details | selectattr('transaction_type', 'equalto', 'loan_repay') | sum(attribute='amount') }}"],
                        }, {
                          name: 'សន្សំ',
                          data: [11, 32, 45, 32, 34, 52, "{{ txn_details | selectattr('transaction_type', 'in', ['saving_deposit', 'saving_deposit_more']) | sum(attribute='amount') }}"]
                        }, {
                          name: 'សមតុល្យ',
                          data: [0, 28, 14, 31, 22, 45, "{{ (txn_details | selectattr('transaction_type', 'in', ['saving_deposit', 'saving_deposit_more']) | sum(attribute='amount')) - (txn_details | selectattr('transaction_type', 'equalto', 'loan') | sum(attribute='amount') - txn_details | selectattr('transaction_type', 'equalto', 'loan_repay') | sum(attribute='amount')) }}"]
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1', '#2eca6a', '#1dddff'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'datetime',
                          categories: ["2025-01-01T00:00:00.000Z", "2025-01-02T01:30:00.000Z", "2025-01-03T02:30:00.000Z", "2025-01-04T03:30:00.000Z", "2025-01-05T04:30:00.000Z", "2025-01-06T05:30:00.000Z", "2025-01-07T06:30:00.000Z"]
                        },
                        tooltip: {
                          x: {
                            format: 'dd/MM/yy HH:mm'
                          },
                        }
                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->

            

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Customers Card -->
          <div class="card info-card customers-card">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">អ្នកប្រើប្រាស់ <span>| ទាំងអស់</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-people animated-icon"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ total_user }}</h6>
                  <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">ថយចុះ</span>

                </div>
              </div>

            </div>
          </div>
          <!-- End Customers Card -->

          <!-- Recent Activity -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">វិភាគទិន្នន័យ <span>| ទាំងអស់</span></h5>

              

         

          <!-- Website Traffic -->
          <!-- <div class="card"> -->
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      color: ['#4154f1', '#2eca6a', '#1dddff', '#ff771d'],
                      name: 'របាយការណ៍',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [{
                          value: "{{ txn_details | selectattr('transaction_type', 'equalto', 'loan') | sum(attribute='amount') - txn_details | selectattr('transaction_type', 'equalto', 'loan_repay') | sum(attribute='amount') }}",
                          name: 'កម្ចី'
                        },
                        {
                          value: "{{ txn_details | selectattr('transaction_type', 'in', ['saving_deposit', 'saving_deposit_more']) | sum(attribute='amount') }}",
                          name: 'សន្សំ'
                        },
                        {
                          value: "{{ (txn_details | selectattr('transaction_type', 'in', ['saving_deposit', 'saving_deposit_more']) | sum(attribute='amount')) - (txn_details | selectattr('transaction_type', 'equalto', 'loan') | sum(attribute='amount') - txn_details | selectattr('transaction_type', 'equalto', 'loan_repay') | sum(attribute='amount')) }}",
                          name: 'សមតុល្យ'
                        },
                        {
                          value: "{{ total_user }}",
                          name: 'អ្នកប្រើប្រាស់'
                        }
                      ]
                    }]
                  });
                });
              </script>

            </div>
          <!-- </div>End Website Traffic -->

        </div><!-- End News & Updates -->
      </div><!-- End Right side columns -->
    </div>

    

    <!-- Recent Sales -->
    <div class="col-12">
      <div class="card recent-sales overflow-auto">

        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">សន្សំថ្មី <span>| ទាំងអស់</span></h5>

          <table class="table table-borderless datatable">
            <thead>
                <tr>
                    <th scope="col">កាលបរិច្ឆេទ</th>
                    <th scope="col">ចំនូនទឹកប្រាក់</th>
                    <th scope="col">ស្ថានភាព</th>
                    <th scope="col">បរិយាយ</th>
                </tr>
            </thead>
            <tbody>
                {% set has_transactions = false %}
                {% for txn_detail in txn_details %}
                    {% if txn_detail.transaction_type in ['saving_deposit', 'saving_deposit_more'] %}
                        <tr>
                            <td>{{ txn_detail.transaction_date }}</td>
                            <td><b>{{ txn_detail.amount }}</b> <span class="badge bg-info">{{ txn_detail.currency_type }}</span></td>
                            <td><span class="badge bg-success">Approved</span></td>
                            <td><a href="" class="text-primary">{{ txn_detail.transaction_desc }}</a></td>
                        </tr>
                        {% set has_transactions = true %}
                    {% endif %}
                {% endfor %}
                {% if has_transactions %}
                    <tr>
                        <td colspan="4" class="text-center no-users">No transaction found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        </div>

      </div>
    </div><!-- End Recent Sales -->

    <!-- Top Selling -->
    <div class="col-12">
      <div class="card top-selling overflow-auto">

        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body pb-0">
          <h5 class="card-title">តារាងសន្សំខ្ពស់បំផុត <span>| ទាំងអស់</span></h5>

          <table class="table table-borderless" id="top-deposit-table">
            <thead>
                <tr>
                    <th scope="col">កាលបរិច្ឆេទ</th>
                    <th scope="col">ចំនូនទឹកប្រាក់</th>
                    <th scope="col">ស្ថានភាព</th>
                    <th scope="col">បរិយាយ</th>
                </tr>
            </thead>
            <tbody>
              {% set has_transactions = false %}
                {% for txn_detail in txn_details %}
                    {% if txn_detail.transaction_type in ['saving_deposit', 'saving_deposit_more'] %}
                        <tr>
                            <td>{{ txn_detail.transaction_date }}</td>
                            <td><b>{{ txn_detail.amount }}</b> <span class="badge bg-info">{{ txn_detail.currency_type }}</span></td>
                            <td><span class="badge bg-success">Approved</span></td>
                            <td><a href="" class="text-primary">{{ txn_detail.transaction_desc }}</a></td>
                        </tr>
                        {% set has_transactions = true %}
                    {% endif %}
                {% endfor %}
                {% if has_transactions %}
                    <tr>
                        <td colspan="4" class="text-center no-users">No transaction found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        </div>

      </div>
    </div><!-- End Top Selling -->
  </section>

  </main><!-- End #main -->

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchElement = document.querySelector('.datatable-search .datatable-input');
        searchElement.setAttribute('placeholder', 'ស្វែងរក...'); // Change to "ស្វែងរក..."
        const infoElement = document.querySelector('.datatable-bottom .datatable-info');
        const numbersArray = infoElement.innerHTML.split(' ').filter(item => !isNaN(item));
        if (infoElement.innerHTML) {
          infoElement.textContent = "បង្ហាញ "+numbersArray[0]+" ទៅ "+numbersArray[1]+" នៃ "+numbersArray[2]+" ធាតុ";
        }

        const label = document.querySelector('label');
        if (label) {
            label.childNodes.forEach(node => {
                if (node.nodeType === Node.TEXT_NODE) {
                    node.remove();
                }
            });
        }

        const limitedCells = document.querySelectorAll('.limited-length');
        limitedCells.forEach(cell => {
            cell.addEventListener('click', function() {
                // Check if the cell is currently expanded
                if (cell.classList.contains('expanded')) {
                    // Collapse the cell
                    cell.classList.remove('expanded');
                    cell.textContent = cell.dataset.fullText; // Show full text
                    cell.style.whiteSpace = 'nowrap'; // Prevent wrapping
                } else {
                    // Expand the cell
                    cell.classList.add('expanded');
                    cell.textContent = cell.dataset.fullText; // Show full text
                    cell.style.whiteSpace = 'normal'; // Allow wrapping
                }
            });
        });
    });
  </script>

  {% endblock %}