{% extends 'header.html' %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>General Transaction Report</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">របាយការណ៍</li>
                <li class="breadcrumb-item active">របាយការណ៍ទូទៅ</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ប្រតិបត្តិការទូទៅ</h5>
    
                       <!-- Filter Section -->
                       {% if is_general %}
                        <form class="row g-3">
                            <div class="form-floating mb-3 col-lg-3">
                                <select id="transaction_type_filter" class="form-select">
                                    <option value="">ទាំងអស់</option>
                                    <option value="loan">កម្ចី</option>
                                    <option value="loan_repay">សងប្រាក់កម្ចី</option>
                                    <option value="saving_deposit">សន្សំ</option>
                                    <option value="saving_deposit_more">សន្សំបន្ថែម</option>
                                </select>
                                <label for="transaction_type_filter" class="form-label">Filter by Transaction Type</label>
                            </div>
                        </form>
                        {% endif %}

                        <!-- Table with stripped rows -->
                        <div class="table-responsive">
                            <table class="table datatable" id="transaction_table">
                                <thead>
                                    <tr>
                                        <th>កាលបរិច្ឆេទ</th>
                                        <th>ចំនូនទឹកប្រាក់</th>
                                        <th>ប្រភេទសាច់ប្រាក់</th>
                                        <th>កាលបរិច្ឆេទបញ្ជូល</th>
                                        <th>កំណត់សម្គាល់</th>
                                        <th>ប្រភេទប្រតិបត្តិការ</th>
                                        <th><b>លេខសំគាល់</b></th>
                                        <th>កំណត់</th> <!-- New column for actions -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for txn_detail in txn_details %}
                                    <tr class="transaction-row" data-transaction-type="{{ txn_detail.transaction_type }}">
                                        <td>{{ txn_detail.transaction_date }}</td>
                                        <td class="text-center"><b>{{ txn_detail.amount }}</b>
                                            {% if txn_detail.transaction_type == 'loan' %}
                                            &nbsp;&nbsp;
                                                <a href="#" data-id="{{ txn_detail.transaction_id }}"
                                                data-amount="{{ txn_detail.amount }}" data-transaction_date="{{ txn_detail.transaction_date }}"
                                                data-currency_type="{{ txn_detail.currency_type }}" data-transaction_desc="{{ txn_detail.transaction_desc }}"
                                                data-transaction_type="{{ txn_detail.transaction_type }}" onclick="console.error(''error');">
                                                <span class="badge bg-danger animated-shark-item"> មិនទាន់សង -{{ txn_detail.remain_balance }}$</span>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td><span class="badge bg-info animated-badge">{{ txn_detail.currency_type }}</span></td>
                                        <td>{{ txn_detail.created_on }}</td>
                                        <td>
                                            <span class="limited-length" data-full-text="{{ txn_detail.transaction_desc }}">
                                                {{ txn_detail.transaction_desc }}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge bg-primary animated-shark-item">
                                                {% if txn_detail.transaction_type == 'loan' %}
                                                    កម្ចី
                                                {% elif txn_detail.transaction_type == 'loan_repay' %}
                                                    សងប្រាក់កម្ចី
                                                {% elif txn_detail.transaction_type == 'saving_deposit' %}
                                                    សន្សំ
                                                {% elif txn_detail.transaction_type == 'saving_deposit_more' %}
                                                    សន្សំបន្ថែម
                                                {% else %}
                                                    {{ txn_detail.transaction_type }}
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td>{{ txn_detail.transaction_id }}</td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-edit" data-id="{{ txn_detail.transaction_id }}"
                                                data-amount="{{ txn_detail.amount }}" data-transaction_date="{{ txn_detail.transaction_date }}"
                                                data-currency_type="{{ txn_detail.currency_type }}" data-transaction_desc="{{ txn_detail.transaction_desc }}"
                                                data-transaction_type="{{ txn_detail.transaction_type }}"><i class="bi bi-pencil-square"></i></a>
                                            <a href="#" class="btn btn-danger" onclick="deleteTransaction('{{ txn_detail.transaction_id }}'); return false;">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                            <a href="#" class="btn btn-success" onclick="deleteTransaction('{{ txn_detail.transaction_id }}'); return false;">
                                                <i class="bi bi-repeat"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="7" class="text-center no-users">No transaction found</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table with stripped rows -->

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transactionListModal">
                            View Loan Repayment Transactions
                          </button>
                          

                    </div>
                </div>
            </div>
        </div>
    </section>    

    <div class="modal fade" id="editTransactionModal" tabindex="-1" aria-labelledby="editTransactionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTransactionModalLabel">កែប្រែប្រតិបត្តិការ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Alert Messages -->
                    <div id="alertMessage" class="alert d-none" role="alert"></div>
                    <form id="editTransactionForm">
                        <input type="hidden" name="transaction_id" id="transaction_id">

                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="transaction_date" name="transaction_date"
                                required>
                            <label for="transaction_date">កាលបរិច្ឆេទ</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="amount" name="amount" required>
                            <label for="amount">ចំនូនទឹកប្រាក់</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" id="currency_type" name="currency_type" required>
                                <option value="" disabled selected>Select Currency</option>
                                <option value="USD">USD</option>
                                <option value="KHR">KHR</option>
                            </select>
                            <label for="currency_type">ប្រភេទសាច់ប្រាក់</label>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="transaction_desc" name="transaction_desc"
                                style="height: 100px;"></textarea>
                            <label for="transaction_desc">កំណត់សម្គាល់</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" id="transaction_type" name="transaction_type" required>
                                <option value="" disabled selected>ជ្រើសរើសប្រភេទប្រតិបត្តិការ</option>
                                <option value="saving_deposit">សន្សំ</option>
                                <option value="saving_deposit_more">សន្សំបន្ថែម</option>
                                <option value="loan">កម្ចី</option>
                                <option value="loan_repay">សងប្រាក់កម្ចី</option>
                            </select>
                            <label for="transaction_type">ប្រភេទប្រតិបត្តិការ</label>
                        </div>

                        <div class="item-right">
                            <button type="submit" class="btn btn-primary animated-button" id="submitButton">កែប្រែ</button>
                        </div>
                    </form>

                    <!-- Loading Indicator -->
                    <div id="loading" class="d-none text-center mt-3">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p>Please wait...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="transactionListModal" tabindex="-1" aria-labelledby="transactionListModalLabel"
        aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionListModalLabel">បញ្ជីប្រតិបត្ដិការ សងប្រាក់កម្ចី</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Alert Messages -->
                <div id="alertMessage" class="alert d-none" role="alert"></div>

                <!-- Transaction List Table -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">លេខប្រតិបត្ដិការប្រាក់កម្ចី</th>
                            <th scope="col">កាលបរិច្ឆេទ</th>
                            <th scope="col">ចំនួនទឹកប្រាក់សង</th>
                            <th scope="col">ប្រភេទសាច់ប្រាក់</th>
                            <th scope="col">កំណត់សម្គាល់</th>
                            <th scope="col">កំណត់បញ្ជា</th>
                        </tr>
                    </thead>
                    <tbody id="transactionList">
                        <!-- Dynamic List of Loan Repayments will go here -->
                    </tbody>
                </table>

                <!-- No data available message -->
                <div id="noDataMessage" class="d-none text-center">
                    <p>មិនមានទិន្នន័យប្រតិបត្ដិការទេ</p> <!-- "No transaction data available" -->
                </div>
            </div>
        </div>
    </div>
</div>


</main><!-- End #main -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>  
    document.addEventListener('DOMContentLoaded', function () {
        const searchElement = document.querySelector('.datatable-search .datatable-input');
        searchElement.setAttribute('placeholder', 'ស្វែងរក...'); // Change to "ស្វែងរក..."
        const infoElement = document.querySelector('.datatable-bottom .datatable-info');
        const numbersArray = infoElement.innerHTML.split(' ').filter(item => !isNaN(item));
        if (infoElement.innerHTML) {
          infoElement.textContent = "បង្ហាញ "+numbersArray[0]+" ទៅ "+numbersArray[1]+" នៃ "+numbersArray[2]+" ធាតុ";
        }

        const label = document.querySelector('label');
        if (label) {
            label.childNodes.forEach(node => {
                if (node.nodeType === Node.TEXT_NODE) {
                    node.remove();
                }
            });
        }

        const limitedCells = document.querySelectorAll('.limited-length');
        limitedCells.forEach(cell => {
            cell.addEventListener('click', function() {
                // Check if the cell is currently expanded
                if (cell.classList.contains('expanded')) {
                    // Collapse the cell
                    cell.classList.remove('expanded');
                    cell.textContent = cell.dataset.fullText; // Show full text
                    cell.style.whiteSpace = 'nowrap'; // Prevent wrapping
                } else {
                    // Expand the cell
                    cell.classList.add('expanded');
                    cell.textContent = cell.dataset.fullText; // Show full text
                    cell.style.whiteSpace = 'normal'; // Allow wrapping
                }
            });
        });

         // Transaction type filter
        const filterElement = document.getElementById('transaction_type_filter');
        filterElement.addEventListener('change', function () {
            const selectedType = filterElement.value;
            const rows = document.querySelectorAll('.transaction-row');

            rows.forEach(row => {
                const rowType = row.getAttribute('data-transaction-type');
                if (selectedType === "" || rowType === selectedType) {
                    row.style.display = ''; // Show row
                } else {
                    row.style.display = 'none'; // Hide row
                }
            });
        });
    });

    async function deleteTransaction(transactionId) {
        const userConfirmed = confirm('Are you sure you want to delete this transaction?');
        if (!userConfirmed) return;
        try {
            const response = await fetch(`/delete_transaction_by_id/${transactionId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if (!response.ok) {
                const errorData = await response.json();
                throw new Error(`Error ${response.status}: ${errorData.message || 'Failed to delete transaction.'}`);
            }
            const data = await response.json();
            if (data.status === 0) {
                alert(data.message);
                location.reload();
            } else {
                alert(`Error: ${data.message}`);
            }
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error);
            alert('An error occurred while trying to delete the transaction. Please try again.'); // User-friendly error message
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const editButtons = document.querySelectorAll('.btn-edit');
        editButtons.forEach(button => {
            button.addEventListener('click', async function () {
                const transactionId = this.getAttribute('data-id');
                const amount = this.getAttribute('data-amount');
                const transaction_date = this.getAttribute('data-transaction_date');
                const currency_type = this.getAttribute('data-currency_type');
                const transaction_desc = this.getAttribute('data-transaction_desc');
                const transaction_type = this.getAttribute('data-transaction_type');
                document.getElementById('transaction_id').value = transactionId;
                document.getElementById('transaction_date').value = transaction_date;
                document.getElementById('amount').value = amount;
                document.getElementById('currency_type').value = currency_type;
                document.getElementById('transaction_desc').value = transaction_desc;
                document.getElementById('transaction_type').value = transaction_type;
                $('#editTransactionModal').modal('show');
            });
        });

        document.getElementById('editTransactionForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const loadingIndicator = document.getElementById("loading");
            const submitButton = document.getElementById("submitButton");
            const alertMessage = document.getElementById("alertMessage");
            loadingIndicator.classList.remove("d-none");
            submitButton.disabled = true;
            alertMessage.classList.add("d-none");

            const transactionIdInput = document.getElementById('transaction_id');
            if (transactionIdInput) {
                const transactionId = transactionIdInput.value;
                const formData = new FormData(this);
                const data = {};
                formData.forEach((value, key) => {
                    data[key] = value;
                });

                const response = await fetch(`/update_transaction_by_id/${transactionId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    const jsonResponse = await response.json();
                    if (jsonResponse.status === 0) {
                        alertMessage.classList.remove("d-none");
                        alertMessage.classList.add("alert-success");
                        alertMessage.textContent = jsonResponse.message;
                    } else {
                        alertMessage.classList.remove("d-none");
                        alertMessage.classList.add("alert-danger");
                        alertMessage.textContent = jsonResponse.message;
                    }
                    submitButton.disabled = false;
                    loadingIndicator.classList.add("d-none");
                    location.reload();
                } else {
                    alert('Failed to update transaction.');
                }
            } else {
                alert('Transaction ID not found.');
            }
        });
    });

</script>


<script>
    // Example data - in practice, this could come from an API or database
    const transactions = [
        {
            transaction_id: 'TRX123',
            transaction_date: '2025-04-06',
            amount: 500,
            currency_type: 'USD',
            transaction_desc: 'Loan repayment for April'
        },
        {
            transaction_id: 'TRX124',
            transaction_date: '2025-03-20',
            amount: 300,
            currency_type: 'KHR',
            transaction_desc: 'Loan repayment for March'
        },
        {
            transaction_id: 'TRX124',
            transaction_date: '2025-03-20',
            amount: 300,
            currency_type: 'KHR',
            transaction_desc: 'Loan repayment for March'
        },
        {
            transaction_id: 'TRX124',
            transaction_date: '2025-03-20',
            amount: 300,
            currency_type: 'KHR',
            transaction_desc: 'Loan repayment for March'
        }
    ];

    // Function to load the transaction data into the table
    function loadTransactionList() {
        console.log("loadTransactionList");
        const transactionList = document.getElementById('transactionList');
        const noDataMessage = document.getElementById('noDataMessage');

        // If no transactions exist
        if (transactions.length === 0) {
            noDataMessage.classList.remove('d-none');
            return;
        }

        // Hide no data message
        noDataMessage.classList.add('d-none');

        // Clear the current table content
        transactionList.innerHTML = '';

        // Populate the table with transactions
        transactions.forEach(transaction => {
            const row = document.createElement('tr');
            
            row.innerHTML = `
                <td>${transaction.transaction_id}</td>
                <td>${transaction.transaction_date}</td>
                <td>${transaction.amount}</td>
                <td>${transaction.currency_type}</td>
                <td>${transaction.transaction_desc}</td>
                <td>
                    <button class="btn btn-info btn-sm" onclick="editTransaction('${transaction.transaction_id}')">Edit</button>
                    <button class="btn btn-danger btn-sm" onclick="deleteTransaction('${transaction.transaction_id}')">Delete</button>
                </td>
            `;
            transactionList.appendChild(row);
        });
    }

    // Edit transaction function (example)
    function editTransaction(transactionId) {
        alert('Edit transaction: ' + transactionId);
        // Add functionality to edit the transaction here
    }

    // Delete transaction function (example)
    function deleteTransaction(transactionId) {
        if (confirm('Are you sure you want to delete this transaction?')) {
            // Add functionality to delete the transaction here
            alert('Transaction ' + transactionId + ' deleted');
        }
    }

    // Load the transaction list when the modal is shown
    const transactionListModal = document.getElementById('transactionListModal');
    transactionListModal.addEventListener('show.bs.modal', loadTransactionList);
</script>

{% endblock %}